// Fonts
@font-face {
  font-family: "HelveticaNeueUltra";
  src: url("/common/fonts/HelveticaNeueUltraLight_0.ttf");
  src: local("?"),
    url("/common/fonts/HelveticaNeueUltraLight_0.woff") format("woff"),
  }

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/common/fonts/HelveticaNeueLTCom-Lt.ttf");
  src: local("?"),
    url("/common/fonts/HelveticaNeueLTCom-Lt.woff") format("woff"),
  }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/common/fonts/HelveticaNeue-Bold.otf");
  }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/common/fonts/HelveticaNeueLTCom-Md.ttf");
  src: local("?"),
    url("/common/fonts/HelveticaNeueLTCom-Md.woff") format("woff"),
  }

  .h2 {
  	font-family: 'HelveticaNeueUltra';
  }
}