/*!
 Created by: Anthony Cole
 */





/* Font Family
================================================== */



@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../type/leaguegothic-condensedregular-webfont.eot');
    src: url('../type/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../type/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('../type/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

	}
/*================================================== */



	header{

	}

	nav{
	border-top: 1.5em;
	border-bottom: 1.5em;
	
	}


	a {
	
	}

	body{
    font-family: 'league_gothicCnRg';
	margin: 0% auto;  
    background: #FFFFFF;  
    text-align: center;
  	display: block;

	}


	section{
margin-right: 10%;
margin-left: 10%;
	}

	article{
	
	}


	footer{
	font-size: 0.9em;
	font-weight: normal;
	position: relative;
	padding-bottom: 4%;
	padding-top: 4%;
	width: 100%;
	background-color: #230b03;
	}

  	ul{
  	padding-top: .5em;
  	padding-bottom: .5em;

  	}

  	img{
	width: 100%;
	height: 100%;

  	}

  	#beans{
  	width: 100%;
  	}

  	#page-container{
	margin: 0% auto;
	max-width: 920px;
	padding: 0% 5%;
	}

	#bar{
	font-size: 1.5em;
	height: 3.0em;
	}


	#addressandphone {
	padding-top: 0%;
	padding-bottom: 0%;
	}


	#copyright {
	padding-top: 0%;
	padding-bottom: 0%;
	}

	#footertext{
	color: #cebb99;
	line-height: 1;
	}

  	#content{
	display: table;  

  	}

	  	#maincontent1{
		display: table-cell;  
	    width: 50%;  
		padding-left: 7.5%;
		padding-right: 6.0%;
		padding-top: 2.5%;
	    padding-bottom: 2.5%;

	  	}

	  	#maincontent2{
	 	display: table-cell;  
	    width: 50%;
	    padding-left: 6.0%;
	    padding-right: 7.5%;
	    padding-top: 2.5%;
	    padding-bottom: 2.5%;
	  	}
  	}
  	
}
