/*!
 Created by: Anthony Cole
 */





/* Font Family
================================================== */



@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../type/leaguegothic-condensedregular-webfont.eot');
    src: url('../type/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../type/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('../type/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

	}
/*================================================== */



	header{

	}

	nav{
	border-top: 1.5em;
	border-bottom: 1.5em;
	
	}


	a {
	
	}

	body{
    font-family: 'league_gothicCnRg';
	margin: 0 auto;  
    background: #FFFFFF;  
    text-align: center;

	}


	section{

	}

	article{
	padding-left: 3.0em;
	padding-right: 3.0em;

	}


	footer{
	font-size: 0.9em;
	font-weight: normal;
	position: relative;
	padding-bottom: 4%;
	padding-top: 4%;
	width: 100%;
	background-color: #230b03;
	}

  	ul{
  	padding-top: .5em;
  	padding-bottom: .5em;

  	}

  	li{
	display: inline-block;

  	}

  	#page-container{
	margin: 0px auto;
	max-width: 940px;
	padding: 0% 5%;
	}

	#bar{
	font-size: 1.5em;
	height: 3.0em;
	}


	#addressandphone {
	padding-top: 0%;
	padding-bottom: 0%;
	}


	#copyright {
	padding-top: 0%;
	padding-bottom: 0%;
	}

	#footertext{
	color: #cebb99;
	line-height: 1;
	}

  	#content{
	display: table;  

  	}

	  	#maincontent1{
		display: table-cell;  
	    width: 420px;  
		padding-left: 40px;
		padding-top: 10px;
	    padding-bottom: 10px;

	  	}

	  	#maincontent2{
	 	display: table-cell;  
	    width: 442px;
	    padding-right: 18px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	  	}
  	}
  	
}
